@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Medium.ttf);
  font-weight: medium;
}
@font-face {
  font-family: 'Noto Sans';
  src: url(fonts/NotoSans-Medium.ttf);
  font-weight: medium;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0px;
  height: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*
  First component
*/
.uploader-container {
  width: 402px;
  height: 469px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.uploader-title {
  position: absolute;
  width: 165px;
  height: 26.99px;
  left: 126.15px;
  top: 36px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4F4F4F;

  margin: 0px;
}

.uploader-subtitle {
  position: absolute;
  width: 121px;
  height: 14.99px;
  left: 140.82px;
  top: 78.98px;  

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  
  letter-spacing: -0.035em;
  color: #828282;

  margin: 0px;
}

.drag-drop-area {
  position: absolute;
  width: 338px;
  height: 218.9px;
  left: 32px;
  top: 123.59px;

  background: #F6F8FB;
  border: 1px dashed #97BEF4;
  box-sizing: border-box;
  border-radius: 12px;

  cursor: pointer;
}

.drag-drop-background-img {
  position: absolute;
  width: 114.13px;
  height: 90px;
  left: 111.43px;
  top: 35.84px;

  background-image: url('images/image.svg');
}

.drag-drop-description-text {
  position: absolute;
  width: 166.01px;
  height: 17.99px;
  left: 91.35px;
  top: 161.34px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: -0.035em;

  color: #BDBDBD;
}

.divider-text {
  position: absolute;
  width: 14px;
  height: 17.99px;
  left: 194px;
  top: 361.4px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  
  text-align: center;
  letter-spacing: -0.035em;
  
  color: #BDBDBD;
}

.choose-file-btn {
  position: absolute;
  width: 101px;
  height: 31.98px;
  left: 150.82px;
  top: 401.02px;
  
  background: #2F80ED;
  border-radius: 8px;
  cursor: pointer;
}

.choose-file-btn > label {
  position: absolute;
  width: 69px;
  height: 15.99px;
  left: 16px;
  top: 8px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.035em;
  
  color: #FFFFFF;
  cursor: pointer;
}
/*
  First component
*/


/*
  Second component
*/
.loading-container {
  position: relative;
  width: 400.36px;
  height: 143.57px;

  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.loading-title {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 32px;
  top: 36px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-top: 0px;
  margin-bottom: 0px;
  
  letter-spacing: -0.035em;
  
  color: #4F4F4F;
}
.loading-progressbar {
  position: absolute;
  width: 340.71px;
  height: 6px;
  left: 32px;
  top: 93.74px;

  background: #F2F2F2;
  border-radius: 8px; 
}
.loading-progressbar > span {
  position: absolute;
  width: 100.93px;
  height: 6px;
  left: 0px;
  top: 0px;

  background: #2F80ED;
  border-radius: 8px;
}
/*
  Second component
*/


/*
  Third component
*/
.uploading-result-container {
  position: relative;
  width: 400.36px;
  height: 454.96px;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.check {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 182.68px;
  top: 39.5px;
  color: #219653;
}
.uploading-result-title {
  position: absolute;
  width: 198px;
  height: 27px;
  left: 101.18px;
  top: 85.53px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  
  text-align: center;
  letter-spacing: -0.035em;

  color: #4F4F4F;
  margin: 0px;
}
.uploaded-img {
  position: absolute;
  width: 338px;
  height: 224.4px;
  left: 31.18px;
  top: 137.87px;
  
  border-radius: 12px;
  background-color: lightgray;
}
.uploaded-img-url-container {
  position: absolute;
  width: 338px;
  height: 34px;
  left: 31.18px;
  top: 387.6px;
  
  background: #F6F8FB;
  
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 8px;
}
.uploaded-img-url {
  position: absolute;
  width: 240px;
  height: 12px;
  left: 7.12px;
  top: 11px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
  
  text-align: center;
  letter-spacing: -0.035em;
  
  color: #4F4F4F;

  text-overflow: ellipsis;
  overflow: hidden;
}
.img-url-copy-btn {
  position: absolute;
  width: 74px;
  height: 30px;
  left: 261px;
  top: 1px;
  bottom: 1px;

  background: #2F80ED;
  border-radius: 8px;

  cursor: pointer;
}
.img-url-copy-btn > span {
  position: absolute;
  width: 37px;
  height: 12px;
  left: 18.98px;
  top: 10px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
  
  text-align: center;
  letter-spacing: -0.035em;
  
  color: #FFFFFF;
}
/*
  Third component
*/

